In [ ]:
# hide
# skip
! [ -e /content ] && pip install -Uqq model_inspector  # for colab

In [ ]:
# default_exp explore

In [ ]:
# export
import pandas as pd

from model_inspector.delegate import delegates

In [ ]:
import sklearn.datasets

# explore

> Explore data.

In [ ]:
# hide
from nbdev.showdoc import *  # noqa: F401

In [ ]:
# export
@delegates(pd.DataFrame().style.background_gradient)
def show_correlation(df: pd.DataFrame, method="pearson", **kwargs):
    """Show correlation heatmap

    Parameters:
    - `df`: DataFrame
    - `method`: Method of correlation to pass to `df.corr()`
    """
    kwargs = {**{"cmap": "bwr", "vmin": -1, "vmax": 1}, **kwargs}
    return df.corr(method=method).style.background_gradient(**kwargs).format("{0:,.2f}")

In [ ]:
X_diabetes, y_diabetes = sklearn.datasets.load_diabetes(return_X_y=True, as_frame=True)

In [ ]:
show_correlation(pd.concat((X_diabetes, y_diabetes), axis="columns"))

In [ ]:
iris = sklearn.datasets.load_iris()
X_iris, y_iris = iris["data"], iris["target"]
y_iris = pd.Series(y_iris, name="iris type").map(
    {num: name for num, name in zip([0, 1, 2], iris["target_names"])}
)
X_iris = pd.DataFrame(X_iris, columns=iris["feature_names"])

In [ ]:
show_correlation(
    pd.concat((X_iris, pd.Series(y_iris == "setosa", name="setosa"))), method="spearman"
)